@CHARSET "UTF-8";
body{
	max-height: 768px;
	max-width: 1024px;
	position: relative;
	margin: 0 auto;
}

header {
	background-color: black;
	position: fixed;
	top: 0%;
	left: 50%;
	right: 50%;
	height: 75px;
}

nav {
	padding: 0px;
	position: fixed;
	top:0px;
	width: 145px;
	height: 100%;
}

header a.menulist:link, header a.menulist:VISITED, nav a#categorylist:LINK,
	nav a#categorylist:VISITED {
	color: black;
	text-decoration: none;
}

table#head {
	margin-top: 50px;
}

article {
	margin-left: 142px;
}

section#join_form {
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 800px;
}

section#join_form td {
	padding-bottom: 10px;
	padding-top: 10px;
}

section#join_form table {
	width: 350px;
}

section#login_form {
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 600px;
}

section#mypage_form {
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 300px;
}

footer {
	margin-top: 400px;
}

footer .foot {
	text-align: center;
}

