@CHARSET "UTF-8";

nav {
	display: table-cell;
	padding: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 145px;
	height: 100%;
}

table#head {
	display: table-cell;
	position: fixed;
	top: 55px;
	left: 142px;
	right: 0px;
	margin-left: 3px;
}

section#join_form {
	display: table-cell;
	position: absolute;
	top: 70px;
	left: 142px;
	right: 0px;
}

footer {
	display: table-cell;
	position: fixed;
	bottom: 0px;
	left: 142px;
	right: 0px;
}

.foot {
	text-align: center;
}