@CHARSET "UTF-8";

header {
	background-color: white;
	position: fixed;
	top: 0px;
	left: 142px;
	right: 0px;
	height: 75px;
	margin-left: 3px;
}

nav {
	padding: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 145px;
	height: 100%;
}

header a.menulist:link, header a.menulist:VISITED, nav a#categorylist:LINK,
	nav a#categorylist:VISITED {
	color: black;
	text-decoration: none;
}

table#head {
	margin-top: 50px;
}

article {
	margin-left: 142px;
}

section#join_form {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

section#join_form table {
	width: 350px;
	border-collapse: collapse;
	border-top: solid 2px;
}

footer {
	margin-top: 400px;
}

footer .foot {
	text-align: center;
}